*{
    display: flex;
    justify-content: center;
    width: 400px;
}

p{
    margin: auto;
    top: 40%;font-size: 5rem;
    
    
}

.blue{
    background-color: blue;
    color:white;
}
.red{
    background-color: red;
    color:seashell
}

